export DEBUG=True
export SECRET_KEY="django-insecure-z9c%+(7k)cbi+p))9k=)t=x!*4k7-(_dlw4o0o0v-gb9ar^5+z"

export POSTGRES_DB=dev_db
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=password
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PORT=5432
export DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/db

